<h2>Projects</h2>
<div class="projects">
    <div *ngFor="let project of projects">
        <ngx-charts-gauge
                [view]="[400, 400]"
                [scheme]="colorScheme"
                [customColors]=""
                [results]="[{
                    name: project.description,
                    value: project.hoursSpent / project.budget * 100
                }]"
                [valueFormatting]=""
                [min]="0"
                [max]="100"
                [angleSpan]="240"
                [startAngle]="-120"
                [bigSegments]="10">
        </ngx-charts-gauge>
        <p>
            {{project.description}}
            <br>
            {{project.hoursSpent}} / {{project.budget}}
        </p>
    </div>
</div>

