h2, p {
    font-family: 'Special Elite', cursive;
}

.projects > div {
    padding: 0;
    float: left;
}

.projects p {
    text-align: center;
}

.projects {
    font-family: 'Special Elite', cursive;
}