<h2>Projects</h2>
<div class="projects">
    <div *ngFor="let project of projects">
        <mwl-gauge
                [max]="100"
                [dialStartAngle]="-90"
                [dialEndAngle]="-90.001"
                [value]="project.hoursSpent / project.budget * 100"
                [animated]="true"
                [animationDuration]="1.5">
        </mwl-gauge>
        <p>
            {{project.description}}
            <br>
            {{project.hoursSpent}} / {{project.budget}}
        </p>
    </div>
</div>

